@font-face {
  font-family: "Roboto-Regular-webfont";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("ttf");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-Light";
  src: url("../fonts/Avenir-Light.ttf") format("ttf");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-Book";
  src: url("../fonts/Avenir-Book.ttf") format("ttf");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-Heavy";
  src: url("../fonts/Avenir-Heavy.ttf") format("ttf");

  font-weight: normal;
  font-style: normal;
}
