@font-face {
  font-family: "Avenir-Book";
  src: url("../fonts/Avenir-Book.ttf") format("ttf");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-Heavy";
  src: url("../fonts/Avenir-Heavy.ttf") format("ttf");

  font-weight: normal;
  font-style: normal;
}
