@font-face {
  font-family: "Roboto-Regular-webfont";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Avenir-Light";
  src: url("../fonts/Avenir-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Avenir-Book";
  src: url("../fonts/Avenir-Book.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Avenir-Heavy";
  src: url("../fonts/Avenir-Heavy.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: auto;
  height: 2117px;
  max-width: 2000px;
  background-color: #e5e5e5; }

img {
  width: 100%; }

li {
  list-style: none; }

a {
  text-decoration: none; }

header {
  width: 100%;
  height: 524px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  header .wrapperNav {
    height: 60px;
    padding: 15px 15px 15px 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    header .wrapperNav .wrapperLink {
      width: 373px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header .wrapperNav .wrapperLink .imgAvatar {
        border-radius: 50%;
        width: 30px; }
    header .wrapperNav .imgLogo {
      width: 40px;
      height: 30px; }
    header .wrapperNav a {
      font-family: "Avenir-Heavy", sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: #3d4e61; }
  header .imgKitchen {
    height: 464px; }

main {
  max-width: 900px;
  margin: 40px auto 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  main .wrapperInformation {
    max-width: 482px; }
    main .wrapperInformation .wrapperAbout {
      margin-bottom: 66px; }
      main .wrapperInformation .wrapperAbout .headerAbout {
        font-family: "Avenir-Heavy", sans-serif;
        font-size: 36px;
        line-height: 42px;
        color: #3d4e61;
        margin-bottom: 10px; }
      main .wrapperInformation .wrapperAbout span {
        font-family: "Avenir-Book", sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: #687c94; }
      main .wrapperInformation .wrapperAbout ul {
        display: grid;
        grid-template-columns: repeat(3, 82px);
        margin-bottom: 28px;
        margin-top: 15px; }
        main .wrapperInformation .wrapperAbout ul li {
          font-family: "Avenir-Book", sans-serif;
          font-size: 16px;
          line-height: 19px;
          color: #3d4e61;
          height: 28px; }
      main .wrapperInformation .wrapperAbout article {
        height: 120px;
        font-family: "Avenir-Book", sans-serif;
        font-size: 16px;
        line-height: 24px;
        color: #3d4e61;
        margin-bottom: 5px; }
      main .wrapperInformation .wrapperAbout .linkContacts {
        font-family: "Avenir-Heavy", sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: #3d4e61; }
      main .wrapperInformation .wrapperAbout h3 {
        font-family: "Avenir-Heavy", sans-serif;
        font-size: 20px;
        line-height: 23px;
        color: #3d4e61;
        margin-top: 44px;
        margin-bottom: 21px; }
      main .wrapperInformation .wrapperAbout .wrapperAmenities {
        display: grid;
        grid: repeat(2, 28px)/repeat(2, 177px);
        grid-auto-flow: row;
        grid-gap: 13px 20px;
        margin-bottom: 13px; }
        main .wrapperInformation .wrapperAbout .wrapperAmenities p {
          font-family: "Avenir-Book", sans-serif;
          font-size: 16px;
          line-height: 19px;
          color: #3d4e61; }
      main .wrapperInformation .wrapperAbout .linkAmenities {
        font-family: "Avenir-Book", sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: #3d4e61; }
    main .wrapperInformation .wrapperFeedback h2 {
      font-family: "Avenir-Heavy", sans-serif;
      font-size: 28px;
      line-height: 33px;
      color: #3d4e61;
      margin-bottom: 34px; }
    main .wrapperInformation .wrapperFeedback .wrapperUserF .wrapperDetails {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 13px; }
      main .wrapperInformation .wrapperFeedback .wrapperUserF .wrapperDetails .avatar {
        width: 50px;
        height: 50px;
        background-color: #c4c4c4;
        border-radius: 50%;
        margin-right: 21px; }
      main .wrapperInformation .wrapperFeedback .wrapperUserF .wrapperDetails .wrapperNameDate {
        font-family: "Avenir-Heavy", sans-serif;
        font-size: 20px;
        line-height: 23px;
        color: #3d4e61;
        margin-bottom: 12px; }
        main .wrapperInformation .wrapperFeedback .wrapperUserF .wrapperDetails .wrapperNameDate .dateOfPost {
          font-family: "Avenir-Book", sans-serif;
          font-size: 14px;
          line-height: 16px;
          color: #3d4e61;
          margin-top: 10px; }
    main .wrapperInformation .wrapperFeedback .text {
      font-family: "Avenir-Book", sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: #3d4e61;
      height: 120px; }
    main .wrapperInformation .author .headerAuthor {
      font-family: "Roboto-Bold", sans-serif;
      font-weight: bold;
      font-size: 28px;
      line-height: 33px;
      color: #3d4e61;
      margin-bottom: 11px; }
    main .wrapperInformation .author .country {
      font-family: "Avenir-Book", sans-serif;
      font-size: 14px;
      line-height: 16px;
      color: #3d4e61; }
    main .wrapperInformation .author .text {
      font-family: "Avenir-Book", sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: #3d4e61;
      margin-top: 20px;
      margin-bottom: 25px; }
    main .wrapperInformation .author input {
      width: 150px;
      height: 50px;
      border: 1px solid #118488;
      border-radius: 5px;
      font-family: "Avenir-Heavy", sans-serif;
      font-size: 16px;
      line-height: 22px;
      color: #118488; }
  main form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 330px;
    height: 319px;
    background: #fff;
    border: 1px solid #e1e7ed;
    border-radius: 3px;
    padding: 30px 30px 38px; }
    main form .headerForm {
      font-family: "Avenir-Book", sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: #3d4e61;
      margin-bottom: 39px; }
    main form input[type="date"],
    main form input[type="text"] {
      width: 100%;
      height: 50px;
      border: 1px solid #e1e7ed;
      border-radius: 3px;
      padding: 14px 17px;
      font-family: "Avenir-Book", sans-serif;
      font-size: 16px;
      line-height: 19px;
      color: #3d4e61; }
    main form input[type="date"] {
      margin-bottom: 16px; }
    main form input[type="button"] {
      height: 50px;
      text-align: center;
      padding: 15px 0;
      color: #fff;
      font-family: "Avenir-Book", sans-serif;
      font-size: 16px;
      line-height: 19px;
      background-color: #fd5c63;
      border-radius: 4px;
      border: none;
      margin-top: 24px; }

footer {
  height: 213px;
  width: 100%;
  -webkit-box-shadow: 0 -1px 0;
          box-shadow: 0 -1px 0;
  padding: 44px; }
  footer nav {
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: 108px 175px 154px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  footer h4 {
    font-family: "Avenir-Heavy", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #3d4e61;
    margin-bottom: 20px; }
  footer .linkFooter {
    display: inline-block;
    font-family: "Avenir-Book", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #3d4e61;
    margin-bottom: 10px; }

/*# sourceMappingURL=main.css.map */
